@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");

body {
    background-color: rgb(16, 73, 70);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: -0.2px;
    color: #848d96;
}

a {
    color: rgba(71, 190, 199, 0.75);
}
a:hover {
    color: #dcdcdc;
}
li {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 0.75rem;
}